<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eg_1 home page</title>
</head>
<body>
    <h1>Home Page</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages: %}
            {% for message in messages: %}
                <h4>{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/" method="POST">
        <label for="user-id">User ID: </label>
        <input type="text" name="user-id" id="user-id">
        
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">

        <button type="submit">Log In!</button>
    </form>
</body>
</html>