<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eg_4 home page</title>
</head>
<body>
    <h1>Home Page</h1>

    <form action="/dashboard" method="POST">
        <label for="f-name">First name: </label>
        <input type="text" name="f-name" id="f-name">
        <br>
        <br>
        
        <label for="l-name">Last name: </label>
        <input type="text" name="l-name" id="l-name">
        <br>
        <br>

        <label for="age">Age: </label>
        <input type="number" name="age" id="age">
        <br>
        <br>

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>